
<div class="center">
  <section id="content">
    <article class="article-item article-detail">
      <img src="{{url_img +article.image}}" alt="{{article.title}}" *ngIf="article.image != null">
      <img src="http://bppl.kkp.go.id/uploads/publikasi/karya_tulis_ilmiah/default.jpg" alt={{article.title}} *ngIf="article.image == null">
        <h1>{{article.title}}</h1>
        <span class="date">{{article.date | amLocale: 'es' | amTimeAgo}}</span>
        <p>{{article.content}}</p>
        <a [routerLink]="['/editar/',article._id]" class="button button-article-edit">Editar</a>
        <a (click)="delete(article._id)" class="button button-article-delete">Borrar</a>
    </article>
    <div class="clearfix"></div>
   
  </section>

  <app-sidebar></app-sidebar>
</div>
